<% @title="Home - Atlantic Cyber Defenses"%>
<% @description=""%>



<h1>Cyber crime is not going away time soon</h1>
<p class="home">Accodring to the <%= link_to "Imperva Web Application Attack Report", "http://www.imperva.com/docs/HII_Web_Application_Attack_Report_Ed4.pdf"%>, most web applications receive 4 or more web attack campaigns per month and some websites are constantly under attack. The best time to act against online threats is now! <%= link_to "Reach out to us", contact_path%> and we will help you set up appropriate defenses for  your website. Even the big companys with a large cyber security budgets are slipping up - see recent atricles below.
</p>

<div class="img">
<%= link_to (image_tag "joomla-website-security.png"), "http://thehackernews.com/2015/10/joomla-security.html" %>
<%= link_to (image_tag "magento-security-patch.png"), "http://thehackernews.com/2016/01/magento-security.html"  %>
<%= link_to (image_tag "talktalk-hacker.png"), "http://thehackernews.com/2015/11/talktalk-hacker.html"%>
<%= link_to (image_tag "ebay-hacking-tool.png"), "http://thehackernews.com/2016/01/ebay-hacking.html"%>
<%= link_to (image_tag "Yahoo-Contributors-Network-SQL-Injection-Vulnerability.jpg"), "http://thehackernews.com/2014/10/sql-injection-vulnerability-in-yahoo.html"%>
<%= link_to (image_tag "wordpress-security-vulnerability.jpg"), "http://thehackernews.com/2015/05/wordPress-vulnerability.html"%>
</div>

