<h1>Social</h1>
<p>Here at ACD we use a lot of free and openly developed software such as ssh, Slackware, Steghide, Firefox and many more. The appreciation we have for these contributions can not be put into words and that is why we enjoy giving back to the community. Below you can find a few open source projects we have worked on in the past. 


<h2><%= link_to "StegExpose", "https://github.com/b3dk7/StegExpose"%></h2>
A program designed to discover hidden message in images (knows as image steganalysis). StegExpose was able to break several image steganography applications (programs that hide information in images) including <%= link_to "OpenStego", "http://www.openstego.com/" %>.
<h2><%= link_to "flickr-love","https://github.com/b3dk7/flickr-love"%></h2>
A web crawler that lets you download high resolution images from <%= link_to "flickr", "https://www.flickr.com/"%> in bulk based on a customizable list of search terms.
<h2><%= link_to "WhatsMyRanking", "https://github.com/b3dk7/WhatsMyRanking"%></h2>
Another web crawler that focuses on SEO (search engine optimization) metrics. WhatsMyRanking is able to tell you how to improve your web site's performance on search engines, for example by including structured data or redirecting URLs properly.
